<div class="container">
  <div class="row mt-5">
    <div *ngIf="customer$ | async as customer" class="col-6 offset-3">
      Edit customer
      <form #customerForm="ngForm" (ngSubmit)="onUpdate(customerForm, customer)">
        <!--  <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">ID <span>*</span></label>
          </div>
          <input
            name="id"
            [(ngModel)]="customer.id"
            type="number"
            class="form-control"
            pattern=".{1,}"
            required
          />
        </div>
        <div
          [hidden]="customerForm.controls.customerID?.valid"
          class="error-message mt-1"
        >
          The ID must be a positive integer.
        </div> -->

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">First Name <span>*</span></label>
          </div>

          <input name="firstName" [(ngModel)]="customer.firstName" type="text" class="form-control"
            pattern="^[A-ZÁÉÓÖŐÜÚŰÍ][a-záéüöóőúí]{1,14}" required />
        </div>
        <div [hidden]="customerForm.controls.firstName?.valid" class="error-message mt-1">
          The first name must start with a capital letter and can be at min 2 max 15 characters long!
          Example: John

        </div>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">Last Name <span>*</span></label>
          </div>

          <input name="lastName" [(ngModel)]="customer.lastName" type="text" class="form-control"
            pattern="^[A-ZÁÉÓÖŐÜÚŰÍ][a-záéüöóőúí]{1,14}" required />
        </div>
        <div [hidden]="customerForm.controls.lastName?.valid" class="error-message mt-1">
          The last name must start with a capital letter and can be at min 2 max 15 characters long!
          Example: Doe

        </div>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">Email <span>*</span></label>
          </div>
          <input name="email" [(ngModel)]="customer.email" type="email" class="form-control"
            pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,6}" required />
        </div>
        <div [hidden]="customerForm.controls.email?.valid" class="error-message mt-1">
          Email that must be in the following order: characters@characters.domain

        </div>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">Zip <span>*</span></label>
          </div>
          <input name="zip" [(ngModel)]="customer.address.zip" type="text" class="form-control"
            pattern="[A-Z].{2,}|[0-9].{2,}" required />
          <div [hidden]="customerForm.controls.zip?.valid" class="error-message mt-1">
            The zip code can be min 3 characters longg!
          </div>

        </div>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">Country <span>*</span></label>
          </div>
          <input name="country" [(ngModel)]="customer.address.country" type="text" class="form-control"
            pattern="^[A-ZÁÉÓÖŐÜÚŰÍ][A-ZÁÉÓÖŐÜÚŰÍa-záéüöóőúí].{1,23}" required />
        </div>
        <div [hidden]="customerForm.controls.country?.valid" class="error-message mt-1">
          The country must start with a capital letter and can be at min 3 max 25 characters long!
          Example: USA or Hungary
        </div>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">City <span>*</span></label>
          </div>
          <input name="city" [(ngModel)]="customer.address.city" type="text" class="form-control"
            pattern="^[A-ZÁÉÓÖŐÜÚŰÍ][A-ZÁÉÓÖŐÜÚŰÍa-záéüöóőúí].{1,23}" required />
        </div>
        <div [hidden]="customerForm.controls.city?.valid" class="error-message mt-1">
          The city must start with a capital letter and can be min 3 and max 25 characters long!
        </div>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">Street <span>*</span></label>
          </div>
          <input name="street" [(ngModel)]="customer.address.street" type="text" class="form-control"
            pattern="(^[A-ZÁÉÓÖŐÜÚŰÍ0-9].{2,48})" required />
        </div>
        <div [hidden]="customerForm.controls.street?.valid" class="error-message mt-1">
          The street must start with a capital letter or a number and can be min 3 and max 50 characters long! <br>
          Example: Example street 13. or 1256 Example street 13.
        </div>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">Notes <span>*</span></label>
          </div>
          <input name="notes" [(ngModel)]="customer.address.notes" type="text" class="form-control" pattern=".{3,}"
            required />
        </div>
        <div [hidden]="customerForm.controls.notes?.valid" class="error-message mt-1">
          The notes must be min 3 characters long!
        </div>

        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">Active <span>*</span></label>
          </div>
          <div class="form-check my-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="active" [(ngModel)]="customer.active">true
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div>
        </div>



        <button [disabled]="customerForm.invalid || clicked" (click)="showNotification('top','center', customer)"
          type="submit" class="btn btn-warning btn-block btn-lg mt-2">
          <i *ngIf="!clicked" class="fa fa-save"></i>
          <i *ngIf="clicked" class="fa fa-refresh"></i>
        </button>

        <p>* Required!</p>
      </form>
    </div>
  </div>
</div>
