<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
      An9ular Team
    </a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item ">
        <!-- <li class="nav-item active  "> -->
        <a class="nav-link" href="./dashboard">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./customers">
          <i class="material-icons text-warning">person</i>
          <p class="text-warning">Customers</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./products">
          <i class="material-icons text-success">store</i>
          <p class="text-success">Products</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./orders">
          <i class="material-icons text-primary">content_paste</i>
          <p class="text-primary">Orders</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./bills">
          <i class="material-icons text-info">library_books</i>
          <p class="text-info">Bills</p>
        </a>
      </li>
      <!-- <li class="nav-item active-pro ">
        <a class="nav-link" href="./upgrade.html">
          <i class="material-icons">unarchive</i>
          <p>Upgrade to PRO</p>
        </a>
      </li> -->
    </ul>
  </div>
</div>
