<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <!-- <div class="row">
          <div class="col-4 offset-8 mt-3 mb-3">
            <input [(ngModel)]="phraseControl" type="text" class="form-control" placeholder="find product">
            <button type="submit" class="btn btn-white btn-round btn-just-icon">
              <i class="material-icons">search</i></button>
          </div>

        </div> -->
        <!-- <div class="card card-plain">
          <div class="card-header">
            <button [routerLink]="[0]" type="button" class="btn btn-success btn-block btn-lg">
              <i class="material-icons">create</i>
            </button>
          </div>
        </div> -->
        <div class="input-group no-border d-flex flex-row" id="navbarDropdownMenuLink" role="button">
          <span class="font-weight-bold text-uppercase col-2 pt-2 ml-5">Search by:</span>
          <select class="form-control border col-3 mr-5" [(ngModel)]="filterKey">
            <option *ngFor="let key of filterKeys" [value]="[key]">{{key}}</option>
          </select>
          <input [(ngModel)]="phrase" class="form-control" type="text" placeholder="Search...">
          <button type="submit" class="btn btn-success btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
        <div class="card card-plain">
          <div class="card-header">
            <button [routerLink]="[0]" type="button" class="btn btn-success btn-block btn-lg">
              Add new +
            </button>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title text-uppercase">Products</h4>
            <p class="card-category">All Products are shown below</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class=" text-success">
                  <tr>
                    <th (click)="onColumnSelect('id')">productID</th>
                    <th (click)="onColumnSelect('catID')">catID</th>
                    <th (click)="onColumnSelect('name')">name</th>
                    <!-- <th>type</th> -->
                    <th>description</th>
                    <th>price</th>
                    <th>featured</th>
                    <th>active</th>
                    <th>image</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of productList$ | async">
                    <td *ngIf="product.id!==0">{{ product.id }}</td>
                    <td *ngIf="product.id!==0">{{ product.catID }} </td>
                    <td *ngIf="product.id!==0">{{ product.name }}</td>
                    <!-- <td>{{ product.type }}</td> -->
                    <td *ngIf="product.id!==0">{{ product.description }}</td>
                    <td *ngIf="product.id!==0">{{ product.price }}</td>
                    <!-- <td>{{ product.featured }}</td> -->
                    <td *ngIf="product.id!==0"><span *ngIf="product.featured" class="material-icons">
                        done
                      </span>
                    </td>
                    <!-- <td>{{ product.active }}</td> -->
                    <td *ngIf="product.id!==0"><span *ngIf="product.active" class="material-icons">
                        done
                      </span></td>
                    <td *ngIf="product.id!==0">
                      <img class="prod_image" [src]="product.image" [alt]="product.image">
                    </td>
                    <td *ngIf="product.id!==0">
                      <div class="btn-group">
                        <button [routerLink]="[product.id]" class="btn btn-success">
                          <i class="material-icons">create</i>
                        </button>
                        <button (click)="onDelete(product)" class="btn btn-danger">
                          <i class="material-icons">delete_forever</i>
                        </button>
                      </div>
                    </td>
                    <!-- Szerkesztés hiányzik, ideiglenesen letiltva
                      <td>
                      <div class="btn-group">
                        <button [routerLink]="[product.id]" class="btn btn-success">
                          <i class="material-icons">create</i>
                        </button>
                        <button (click)="onDelete(product)" class="btn btn-danger">
                          <i class="material-icons">delete_forever</i>
                        </button>
                      </div>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
