<div class="input-group no-border d-flex flex-row" id="navbarDropdownMenuLink" role="button">
  <span class="font-weight-bold text-uppercase col-2 pt-2 ml-5">Search by:</span>
  <select class="form-control border col-3 mr-5" [(ngModel)]="filterKey">
    <option *ngFor="let key of filterKeys" [value]="[key]">{{key}}</option>
  </select>
  <input [(ngModel)]="phrase" class="form-control" type="text" placeholder="Search...">
  <button type="submit" class="btn btn-white btn-round btn-just-icon">
    <i class="material-icons">search</i>
    <div class="ripple-container"></div>
  </button>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card card-plain">
          <div class="card-header">
            <button [routerLink]="[0]" type="button" class="btn btn-warning btn-block btn-lg">
              Add new +
            </button>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title text-uppercase">customers</h4>
            <p class="card-category">All customers are shown below</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class=" text-warning">
                  <tr>
                    <!--  <th>ID</th> -->
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Notes</th>
                    <th>Active</th>
                    <!-- <th> </th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let customer of customerList$ | async | filter:phrase:filterKey">
                    <!--  <td *ngIf="customer.id!==0">{{customer.id}}</td> -->
                    <td *ngIf="customer.id!==0">{{customer.firstName}} </td>
                    <td *ngIf="customer.id!==0">{{customer.lastName}}</td>
                    <td *ngIf="customer.id!==0">{{customer.email}}</td>
                    <!--   <td *ngIf="customer.id!==0">
                      {{ customer.address.zip+' '+customer.address.country+' '+customer.address.city+', '+customer.address.street }}</td> -->
                    <td *ngIf="customer.id!==0">
                      {{ customer.address.zip }} {{ customer.address.country }} {{ customer.address.city }}
                      {{ customer.address.street }}</td>
                    <td *ngIf="customer.id!==0">{{ customer.address.notes }}</td>
                    <td *ngIf="customer.id!==0"><span *ngIf="customer.active" class="material-icons">
                        done
                      </span></td>
                    <td *ngIf="customer.id!==0">
                      <div class="btn-group">
                        <button [routerLink]="[customer.id]" class="btn btn-warning">
                          <i class="material-icons">create</i>
                        </button>
                        <button (click)="onDelete(customer)" class="btn btn-danger">
                          <i class="material-icons">delete_forever</i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>



            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
