<!-- régi, nem reszponzív kereső -->
<!-- <div class="input-group no-border d-flex flex-row" id="navbarDropdownMenuLink" role="button">
  <span class="font-weight-bold text-uppercase col-2 pt-2 ml-5">Search by:</span>
  <select class="form-control border col-3 mr-5" [(ngModel)]="filterKey">
    <option *ngFor="let key of filterKeys" [value]="[key]">{{key}}</option>
  </select>
  <input [(ngModel)]="phrase" class="form-control" type="text" placeholder="Search...">
  <button type="submit" class="btn btn-white btn-round btn-just-icon">
    <i class="material-icons">search</i>
    <div class="ripple-container"></div>
  </button>
</div> -->

<!-- Search -->
<div class="form-group no-border d-flex flex-column flex-md-row" id="navbarDropdownMenuLink" role="button">
  <span class="font-weight-bold text-uppercase col-md-2 pt-2 ml-0 pl-0 ml-md-5">Search by:</span>
  <select class="form-control border col-12 col-md-3 mr-md-5 my-3 my-md-0" [(ngModel)]="filterKey">
    <option *ngFor="let key of filterKeys" [value]="[key]">{{ key }}</option>
  </select>
  <input [(ngModel)]="phrase" class="form-control" type="text" placeholder="Search..." />
  <button type="submit" class="btn btn-white btn-round btn-just-icon">
    <i class="material-icons">search</i>
    <div class="ripple-container"></div>
  </button>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            <button [routerLink]="[0]" type="button" class="btn btn-warning btn-block btn-lg">
              Add new +
            </button>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title text-uppercase">customers</h4>
            <p class="card-category">All customers are shown below</p>
          </div>
          <div class="card-body">
            <div class="table-responsive ">
              <table class="table table-hover">
                <thead class="text-warning">
                  <tr>
                    <th (click)="onColumnSelect(col.key)" *ngFor="let col of cols; index as i" draggable="true"
                      (dragstart)="dragStartColumn(i)" (dragover)="allowDrop($event)" (drop)="dropColumn(i)">
                      <div class="d-flex flex-row flex-nowrap">
                        {{col.header}}
                        <i *ngIf="sortColumn === col.key && sortDirect === 'asc'" class="material-icons">expand_more</i>
                        <i *ngIf="sortColumn === col.key && sortDirect === 'dsc'" class="material-icons">expand_less</i>
                      </div>
                    </th>
                    <th></th>
                    <!--  <th>ID</th> -->
                    <!-- <th (click)="onColumnSelect(col.key)"
                        *ngFor="let col of cols">
                        <div class="d-flex flex-row flex-nowrap">
                        {{col.header}}
                        <i *ngIf="sortColumn === col.key && sortDirect === 'asc'"
                        class="material-icons">expand_more</i>
                        <i *ngIf="sortColumn === col.key && sortDirect === 'dsc'"
                        class="material-icons">expand_less</i>
                      </div>
                      </th> -->
                    <th></th>
                    <!-- <th> </th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let customer of customerList$
                        | async
                        | filter: phrase:filterKey
                        | sorter: sortColumn:sortDirect
                    ">
                    <ng-container *ngFor="let col of cols; index as i" draggable="true" (dragstart)="dragStartColumn(i)"
                      (dragover)="allowDrop($event)" (drop)="dropColumn(i)">
                      <ng-container *ngIf="customer[cols[0].key] != 0">
                        <td *ngIf="
                            col.key !== 'active' &&
                            col.key !== 'address' &&
                            col.key !== 'notes'
                          ">
                          {{ customer[col.key] }}
                        </td>
                        <td *ngIf="col.key === 'address'">
                          {{ customer.address.zip }}
                          {{ customer.address.country }}
                          {{ customer.address.city }}
                          {{ customer.address.street }}
                        </td>
                        <td *ngIf="col.key === 'notes'">
                          {{ customer.address.notes }}
                        </td>
                        <td *ngIf="col.key === 'active'">
                          <span *ngIf="customer.active" class="material-icons">
                            done
                          </span>
                        </td>
                      </ng-container>
                    </ng-container>

                    <!-- <td *ngIf="customer.id!==0">{{customer.firstName}} </td>
                    <td *ngIf="customer.id!==0">{{customer.lastName}}</td>
                    <td *ngIf="customer.id!==0">{{customer.email}}</td> -->

                    <!-- <td *ngIf="customer.id!==0">
                      {{ customer.address.zip }} {{ customer.address.country }} {{ customer.address.city }}
                      {{ customer.address.street }}</td>
                    <td *ngIf="customer.id!==0">{{ customer.address.notes }}</td> -->
                    <!-- <td *ngIf="customer.id!==0">
                      <span *ngIf="customer.active" class="material-icons">
                        done
                      </span></td> -->

                    <td *ngIf="customer.id !== 0">
                      <div class="btn-group">
                        <button [routerLink]="[customer.id]" class="btn btn-warning">
                          <i class="material-icons">create</i>
                        </button>
                        <button (click)="showNotification('top', 'center', customer)" class="btn btn-danger">
                          <i class="material-icons">delete_forever</i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- Summary -->
              <div class="card">
                <div class="card-header card-header-warning d-xl-flex flex-row flex-nowrap justify-content-between">
                  <div>
                    <h4 class="card-title text-uppercase">
                      customers activity
                    </h4>
                    <p class="card-category">The status of customers</p>
                  </div>
                  <div class="d-lg-flex flex-row flex-nowrap justify-content-around bg-white rounded m-1 mt-2 p-1">
                    <h5 class="card-title font-weight-bold text-warning m-3">
                      Choose status!
                    </h5>
                    <div class="d-md-flex flex-row flex-nowrap">
                      <div class="m-3">
                        <label class="m-0" for="all">
                          <input id="all" class="mx-2 mt-1" type="radio" name="all" [value]="'all'"
                            [(ngModel)]="choosen" checked />all
                        </label>
                      </div>
                      <div class="m-3" *ngFor="let choise of ['true', 'false']">
                        <label class="m-0" [for]="choise">
                          <input [id]="choise" class="mx-2 mt-1" type="radio" name="active" [value]="[choise]"
                            [(ngModel)]="choosen" />{{ choise }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover text-center">
                      <thead class="text-warning">
                        <th>Active (piece)</th>
                        <th></th>
                      </thead>
                      <tr>
                        <td *ngIf="choosen === 'all'">
                          {{ choosen }}: {{ (customerList$ | async)?.length }}
                        </td>
                        <td *ngIf="choosen !== 'all'">
                          {{ choosen }}:
                          {{
                            (customerList$ | async | filter: choosen:"active")
                              ?.length
                          }}
                        </td>
                        <td></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
