<div class="input-group no-border d-flex flex-row" id="navbarDropdownMenuLink" role="button">
  <span class="font-weight-bold text-uppercase col-2 pt-2 ml-5">Search by:</span>
  <select class="form-control border col-3 mr-5" [(ngModel)]="filterKey">
    <option *ngFor="let key of filterKeys" [value]="[key]">{{key}}</option>
  </select>
  <input [(ngModel)]="phrase" class="form-control" type="text" placeholder="Search...">
  <button type="submit" class="btn btn-white btn-round btn-just-icon">
    <i class="material-icons">search</i>
    <div class="ripple-container"></div>
  </button>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card card-plain">
          <div class="card-header">
            <button [routerLink]="[0]" type="button" class="btn btn-primary btn-block btn-lg">
              Add new  +
            </button>
          </div>
        </div>

        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title text-uppercase">orders</h4>
            <p class="card-category">All orders are shown below</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class=" text-primary">
                  <tr>
                    <th (click)="onColumnSelect('customerID')">customerID</th>
                    <th (click)="onColumnSelect('productID')">productID</th>
                    <th (click)="onColumnSelect('amount')">amount</th>
                    <th (click)="onColumnSelect('status')">status</th>
                    <th><i *ngIf="!direction" class="material-icons">expand_more</i>
                      <i *ngIf="direction" class="material-icons">expand_less</i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orderList$ | async | filter:phrase:filterKey | sorter:sortColumn:sortDirect">
                    <td *ngIf="order.id!==0">{{order.customerID}}</td>
                    <td *ngIf="order.id!==0">{{order.productID}} </td>
                    <td *ngIf="order.id!==0">{{order.amount}}</td>
                    <td *ngIf="order.id!==0">{{order.status}}</td>
                    <td *ngIf="order.id!==0">
                      <div class="btn-group">
                        <button [routerLink]="[order.id]" class="btn btn-primary">
                          <i class="material-icons">create</i>
                        </button>
                        <button (click)="onDelete(order)" class="btn btn-danger">
                          <i class="material-icons">delete_forever</i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
