<div class container-fluid>
  <div class="row">
    <div class="col-6 offset-3">
        <form #productFrom="ngForm" (ngSubmit)="onFormSubmit(productFrom)">     
          <div class="form-group">
            <label>CatID</label>
            <input [(ngModel)]="product.catID" name="catID" type="text"
              class="form-control" pattern=".{1,2}" required>
              <div [hidden]="productForm.controls.catID?.valid" class="error-message">
                A catID  maximum 1 karakter lehet!
              </div>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input [(ngModel)]="product.name" name="name" type="text"
              class="form-control" pattern=".{1,20}" required>
            <div [hidden]="productForm.controls.name?.valid" class="error-message">
              A névnek minimum 1 maximum 20 karakter hosszúnak kell lennie!
            </div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input [(ngModel)]="product.description" name="Description" type="text"
              class="form-control" pattern=".{1,200}" required> 
              <div [hidden]="productForm.controls.description?.valid" class="error-message">
                A description minimum 1 maximum 200 karakter hosszú lehet!
              </div>             
          </div>
          <div class="form-group">
            <label>type</label>
            <input [(ngModel)]="product.type" name="type" type="text"
              class="form-control" required>
              <div [hidden]="productForm.controls.type?.valid" class="error-message">
                A névnek minimum 1 maximum 20 karakter hosszúnak kell lennie!
              </div>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input [(ngModel)]="product.price" name="price" type="text"
              class="form-control" required>
              <div [hidden]="productForm.controls.price?.valid" class="error-message">
                A névnek minimum 1 maximum 20 karakter hosszúnak kell lennie!
              </div>
          </div>
          <div class="form-group">
            <label>Featured</label>
            <input [(ngModel)]="product.featured" name="featured" type="text"
              class="form-control" required>
              <div [hidden]="productForm.controls.featured?.valid" class="error-message">
                A névnek minimum 1 maximum 20 karakter hosszúnak kell lennie!
              </div>
          </div>
          <button [disabled]="productForm.invalid || updating" class="btn btn-block btn-success">
            <i *ngIf="!updating" class="fa fa-save"></i>
            <i *ngIf="updating" class="fa fa-refresh"></i>
          </button>
        </form>
      </div>
    </div>
</div>