<div class="container">
  <div class="row mt-5">
    <div *ngIf="(product$ | async) as product" class="col-6 offset-3">Edit product
      <form #productForm="ngForm" (ngSubmit)="onUpdate(productForm, product)">
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">catID</label>
            <div [hidden]="productForm.controls.catID?.valid" class="error-message mt-1">
              A catID csak pozitív szám lehet!
            </div>
          </div>
          <input name="catID" [(ngModel)]="product.catID" type="text" class="form-control" pattern="^[1-9]*$" required>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">product Name</label>
            <div [hidden]="productForm.controls.name?.valid" class="error-message mt-1">
              A névnek nagybetűvel kell kezdődni és 1-20 karkter hosszú lehet!
            </div>
          </div>
          <input name="name" [(ngModel)]="product.name" type="text" class="form-control"
            pattern="[A-ZÁÉÓÖŐÜÚŰÍa-záéüöóőúűí\.]{1,20}" required>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">product type</label>
            <div [hidden]="productForm.controls.type?.valid" class="error-message mt-1">
              A típus minimum 1 maximum 50 karakter lehet!
            </div>
          </div>
          <input name="type" [(ngModel)]="product.type" type="text" class="form-control"
            pattern="[a-záéüöóőúűí\.\s]{1,50}" required>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">product description</label>
            <div [hidden]="productForm.controls.description?.valid" class="error-message mt-1">
              A leírásnak nagybetűvel kell kezdődnie, 2-1400 karakter hosszú lehet!
            </div>
          </div>
          <textarea name="description" [(ngModel)]="product.description" type="textarea" class="form-control"
            pattern="^[A-ZÁÉÓÖŐÜÚŰÍ].{2,1400}$" required></textarea>
          <!-- <textarea name="description" [(ngModel)]="product.description" type="textarea" class="form-control"
            pattern="^[A-ZÁÉÓÖŐÜÚŰÍ][A-ZÁÉÓÖŐÜÚŰÍa-záéüöóőúűí\-\.\,\s\d]{2,1400}" required></textarea> -->
          <!-- <textarea name="description" [(ngModel)]="product.description" type="textarea"
            class="form-control" pattern="^[A-ZÁÉÓÖŐÜÚŰa-záéüöóőú\s]{2,1400}$" required></textarea> -->
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">product price</label>
            <div [hidden]="productForm.controls.price?.valid" class="error-message mt-1">
              Az ár csak szám lehet, minimum 4 maximum 10 karakter!
            </div>
          </div>
          <input name="price" [(ngModel)]="product.price" type="text" class="form-control" pattern="^[0-9]{4,10}$"
            required>
        </div>
        <!--  <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">featured</label>
            <div [hidden]="productForm.controls.featured?.valid" class="error-message mt-1">
              checked true /unchecked false
            </div>
          </div>
          <input name="featured" [(ngModel)]="product.featured" type="checkbox"
            class="form-check-control" pattern="" required>-->
        <!----featured re validation true /false-->
        <!-- </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">active</label>
            <div [hidden]="productForm.controls.active?.valid" class="error-message mt-1">
              checked true /unchecked false
            </div>
          </div>
          <input name="active" [(ngModel)]="product.active" type="checkbox"
            class="form-check-control" pattern="" required>-->
        <!--  </div>-->
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">Featured<span>*</span></label>
          </div>
          <div class="form-check my-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="featured" [(ngModel)]="product.featured">true
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="">Active<span>*</span></label>
          </div>
          <div class="form-check my-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="active" [(ngModel)]="product.active">true
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div>
        </div>

        <button [disabled]="productForm.invalid || clicked" (click)="showHtmlToaster(product)" type="submit"
          class="btn btn-success btn-block btn-lg mt-2">
          <i *ngIf="!clicked" class="fa fa-save"></i>
          <i *ngIf="clicked" class="fa fa-refresh"></i>
        </button>
      </form>
    </div>
  </div>
</div>
<!---
<body ng-app="checkboxExample">
  <script>
  angular.module('checkboxExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.checkboxModel = {
       value1 : true,

      };
    }]);
</script>
<form name="myForm" ng-controller="ExampleController">
  <label>Active:
    <input type="checkbox" ng-model="checkboxModel.value1">
  </label>
 </form>
</body>--->
